*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



body{
	font-family: Segoe UI, SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
}

.imag
{
	display: inline-block;
	width: 700px;
	height: 525px;
	display: block;
    margin-left: auto;
    margin-right: auto;

}
.imag img
{
	position: relative;
	width: 100%;
	height: 100%
}
